<!DOCTYPE html>
<html lang="en" th="http://www.thymeleaf.org">
<head th:replace="common/header :: common_header(~{::title},~{},~{})">
<title>用户添加界面</title>
</head>
<body class="container-fluid">

	<center>
		<h4 class="row">
			<strong>用户添加界面</strong>
		</h4>
	</center>
	
	<form class="form-horizontal" th:action="@{/userInfo/userAdd}" method="post">
		<div class="form-group">
			<label for="usernameLabel" class="col-md-4 control-label">姓名</label>
			<div class="col-md-4">
				<input type="text" class="form-control" id="usernameId" name="username" placeholder="姓名" />
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-md-4 control-label">密码</label>
			<div class="col-md-4">
				<input type="password" class="form-control" id="inputPassword3" name="password"
					placeholder="密码">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-4 col-md-4">
				<button type="submit" class="btn btn-default">添加</button>
			</div>
		</div>
	</form>


</body>
</html>